*{
    font-family: Be Vietnam Pro;
    scroll-behavior: smooth;
}
body{
    background-image: url(../Background_image@3x.webp);
    background-color: #F5F5F5;
    background-size: contain;
}
a{
    text-decoration: none;
    color: #000;
}
li{
    list-style: none;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111629;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: url(../../public/Sun_fill.svg);
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #111629;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: #f2f9ff;
}

input:checked + .slider:before {
    transform: translateX(26px);
    content: url(../../public/Moon_fill.svg);
    background-color: #f2f9ff;
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.darkmode {
    background-color: #111629;
    color: #f2f9ff;
}

.darkmodep {
    color: #f2f9ff;
}