---
import Arrow from "../icons/arrow.astro";

---

<a href="#top" id="scrollTopButton"><Arrow /></a>

<style>
    #scrollTopButton {
        position: fixed;
        bottom: 20px;
        right: 20px;
        padding: 10px 15px;
        font-size: 18px;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

    #scrollTopButton.hidden {
        opacity: 0;
        visibility: hidden;
    }

    #scrollTopButton.visible {
        opacity: 1;
        visibility: visible;
    }
</style>
<script src="../assets/scroll.js"></script>