<header class="flex justify-center items-center py-3 w-full mx-auto">
    <span></span>
    <nav class="flex flex-row gap-x-10">
        <a href="#top">Inicio</a>
        <a href="#SobreMi">Sobre mi</a>
        <a href="#proyectos">Proyectos</a>
    </nav>
</header>