---

---

<nav>
	<ul>
		<li><a href="#inicio">Inicio</a></li>
		<li><a href="#sobremi">Sobre mi</a></li>
		<li><a href="#proyectos">Proyectos</a></li>
	</ul>
	<label id="switch" class="switch">
		<input type="checkbox" id="dark"/>
		<span class="slider round"></span>
	</label>
</nav>

<style>
	nav {
		display: flex;
		justify-content: center;
	}
	ul {
		display: flex;
		
	}
	li {
		margin-left: 32px;
	}
	label{
		position: absolute;
		right: 20px;
	}
	
</style>

